In [3]:
# this is a test to see if python3 notebook is working

print('Test1','Test2')

## seems to be working!

Test1 Test2

# We've learned a number of concepts in python already that are transferrable across languages

1. variable types
2. methods, attributes, functions
3. for loops
4. conditionals

For example, here are for loops and conditionals:


```bash
# in bash
for filename in *.csv
do 
    echo $filename
done

if [ $filename1 = $filename2 ]; then
    echo 'files have the same name'
else
    echo 'files have different names'
fi
```
```R
# in R
for(dataset in datalist) {
    head(dataset)
}

if (x == y) {
    print("Numbers are the same")
} else {
    print("Numbers are different")
}
```
```python
# in python
for variable in my_list:
    print(variable)
    
if x == y:
    print("Numbers are the same!")
else:
    print("Numbers are different!")
```

In [1]:
def fahr_to_kelvin(temp):
    return ((temp-32)*(5.0/9)) + 273.15

In [2]:
fahr_to_kelvin(37)

275.92777777777775

In [3]:
print('freezing point of water:', fahr_to_kelvin(32))

freezing point of water: 273.15

In [4]:
print('boiling point of water:', fahr_to_kelvin(212))

boiling point of water: 373.15

In [5]:
def kelvin_to_celsius(temp_k):
    return temp_k -273.15

print('absolute zero in Celsius:', kelvin_to_celsius(0.0))

absolute zero in Celsius: -273.15

In [8]:
def fahr_to_celsius(temp_f):
    temp_k = fahr_to_kelvin(temp_f)
    print("temperature in kelvin:", temp_k)
    result = kelvin_to_celsius(temp_k)
    return result

print('freezing "point of water" in Celsius:', fahr_to_celsius(32.0))

temperature in kelvin: 273.15
freezing "point of water" in Celsius: 0.0

In [7]:
fahr_to_celsius(5000)

temperature in kelvin: 3033.15

2760.0

Challenge:

Write a function that takes two numbers and adds them together.

add(